doctype html
html
  head
    title= title
    <meta name="keywords" content="#{keywords}" />
    block description
    link(rel='stylesheet', href='/stylesheets/style.css')
    block styles
    script(src='https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js')
    block scripts
  body
    div#contentBox
      //header部分
      div#header
        a.title(href= url) #{myname}的博客
        div.tweet 好写代码不求甚解
        //搜索
        form(method='get',action='#{urls.searchUrl}',id='searchform')
          input(type='text', value='#{urls.nextpage}' name='s',id='s',placeholder='搜索')
      //左边文章部分
      div#main-left
        block content

      //右边label部分
      div#main-right
        -for(var i in labels){
            a.label(dataid= labels[i].id, href='?l=#{labels[i].id}')= labels[i].name
        -}